<section class="register container">
    <div class="register-container">
        <h2>Welcome,<br> Let's get started</h2>
        <!-- register form -->
        <form action="">
            <span>Enter your email adress</span>
            <input type="email" name="" id="" placeholder="Your@gmail.com" required>
            <span>Enter your password</span>
            <input type="password" name="" id="" placeholder="Password" required>
            <span>Repeat your password</span>
            <input type="rePassword" name="" id="" placeholder="Password" required>
            <input type="submit" value="Register" class="button">
            <a routerLink="/login">Already have account?</a>
        </form>
    </div>
    <div class="register-img">
        <img src="../../../assets/test2.jpg" alt="">
    </div>
</section>