<section class="footer ">
    <div class="footer-container container">
        <h2>MONOPOL</h2>
        <div class="footer-box">
            <h3>Locations</h3>
            <a href="">Sofia </a>
            <a href="">Plovdiv</a>
            <a href="">Varna </a>
        </div>
        <div class="footer-box">
            <h3>Quick Links</h3>
            <a href="">Office Sofia</a>
            <a href="">Office Plovdiv</a>
            <a href="">Office Varna</a>
        </div>
        <div class="footer-box">
            <h3>Contacts</h3>
            <a href="">+444 555 666</a>
            <a href="">Monopogmail.com</a>
            <div class="socials">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                <a href=""><i class="fa-brands fa-square-twitter"></i></a>
            </div>
        </div>
    </div>
    <p class="copyrights">All rights reserved © 2024 Emin Apturaim</p>
</section>