<section class="aboutUs container" id="aboutUs">
    <div class="aboutUs-container">
        <div class="aboutUs-img1">
            <img src='../../../assets/aboutUs.jpeg' alt="">
        </div>
        <div class="aboutUs-text">
            <div>
                <h2>Our company</h2>
                <p>MONOPOL is a luxury property consultancy company established in 2007, operating in the premium class
                    of the real estate market, offering prestige properties for sale and for rent around the world.</p>
            </div>
        </div>
    </div>
    <div class="aboutUs-container">
        <div class="aboutUs-text">
            <div>
                <h2>MONOPOL GROUP TOWERS</h2>
                <p>We provide our clients with all the necessary services in the field of the high-end real estate
                    sphere under one roof. On a daily basis, we consult in person and online buyers and tenants of
                    luxury properties around the world, as well as sellers and landlords who are looking for a
                    successful realization of their property among our numerous customers.</p>
                <br>
                <p>
                    We set up efficiently working local structures to serve our buyers, sellers, tenants and landlords.
                    We became experts in the luxury real estate market segment, serving our wealthy clients at the
                    highest world standards, typical for the premium real estate sphere. We also took part in prestige
                    luxury property exhibitions and conferences.
                </p>
                <br>
                <p>
                    Choosing Monopol you will be served by some of the leading and most experienced luxury property
                    consultants in the world.
                </p>
                <br>
                <p>
                    Get the best from the luxury real estate with us!
                </p>
            </div>
        </div>
        <div class="aboutUs-img2">
            <img src='../../../assets/monopol-aboutUs.png' alt="">
        </div>
    </div>
</section>