<section class="add-property container">
    <div class="add-property-container">
        <h2>Add your Property!</h2>
        <!-- add-property form -->
        <form>
            <span>Property Town</span>
            <input type="text" name="" id="" placeholder="Town" required>
            <span>Property Street</span>
            <input type="text" name="" id="" placeholder="Street" required>
            <span>Property m2</span>
            <input type="text" name="" id="" placeholder="m2" required>
            <span>Building Year</span>
            <input type="text" name="" id="" placeholder="Year" required>
            <span>Property Bedrooms</span>
            <input type="text" name="" id="" placeholder="Bedrooms" required>
            <span>Property Bath</span>
            <input type="text" name="" id="" placeholder="Bath" required>
            <span>Property Price</span>
            <input type="text" name="" id="" placeholder="Price" required>
            <span>Property Picture</span>
            <input type="text" name="" id="" placeholder="Picture" required>
            <span>Property description</span>
            <textarea type="text" name="postText" id="" rows="4"></textarea>
            <br>
            <p class="err-msg">Errors messages goes here!</p>
            <a class="btn">Add Property</a>
        </form>
        <!-- error-msg -->
    </div>
</section>