.home {
    margin-top: 5em;
    background: linear-gradient(rgba(0, 0, 0, 0.011), rgba(0, 0, 0, 0.6)),
        url(../../assets/how-to-design-a-house.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 460px;
    border-radius: 1.5rem;
    display: flex;
    align-items: flex-start;
}

.home-text {
    padding-left: 4em;
}

.home-text h1 {
    color: var(--bg-color);
    padding-bottom: 1em;
    font-size: 2rem;
}