<section class="sales container" id="sales">
    <div class="box">
        <i class="fa-solid fa-star"></i>
        <h3>Make Your Dream True</h3>
        <p>You will find our exceptional selection of the most prestigious properties in the country.</p>
    </div>
    <div class="box">
        <i class="fa-solid fa-file-circle-check"></i>
        <h3>Start Your Membership</h3>
        <p>We provide our clients with all the necessary services in the field of the high-end real estate sphere under
            one roof.</p>
    </div>
    <div class="box">
        <i class="fa-solid fa-house-user"></i>
        <h3>Enjoy Your Home</h3>
        <p>Our customers are highly educated and successful people, searching or offering quality properties.</p>
    </div>
</section>