<section class="sales container" id="sales">
    <div class="box">
        <i class="fa-solid fa-star"></i>
        <h3>Make Your Dream True</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, repudiandae.</p>
    </div>
    <div class="box">
        <i class="fa-solid fa-file-circle-check"></i>
        <h3>Start Your Membership</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, repudiandae.</p>
    </div>
    <div class="box">
        <i class="fa-solid fa-house-user"></i>
        <h3>Enjoy Your Home</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, repudiandae.</p>
    </div>
</section>