<header>
    <div class="nav container">
        <!-- logo -->
        <a routerLink="/home" class="logo"><i class="fa-solid fa-house">asd</i>MONOPOL</a>
        <!-- menu icon -->
        <!-- nav list -->
        <input type="checkbox" name="menu" id="menu">
        <label for="menu" id="menu-icon"><i class="fa-solid fa-bars"></i></label>

        <ul class="navbar">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="catalog">Sales</a></li>
            <li><a routerLink="about">About</a></li>
            <li><a routerLink="add-property" *ngIf="isAdmin">Add Properties</a></li>
            <li><a routerLink="personal-properties" *ngIf="isLoggedIn">My Properties</a></li>
        </ul>
        <!-- login button -->
        <div class="user-navbar">
            <p class="email-user" *ngIf="isLoggedIn">Wellcome <br>{{email}}</p>
            <a routerLink="/login" class="btn" *ngIf="!isLoggedIn">Log In</a>
            <a (click)="logout()" class="btn" *ngIf="isLoggedIn">Log Out</a>
        </div>

    </div>
</header>