<header>
    <div class="nav container">
        <!-- logo -->
        <a routerLink="/" class="logo"><i class="fa-solid fa-house">asd</i>MONOPOL</a>
        <!-- menu icon -->
        <!-- nav list -->
        <div class="bars">
            <input type="checkbox" name="" id="menu">
            <label for="menu "><i class="fa-solid fa-bars" id="menu-icon"></i></label>
        </div>
        <ul class="navbar">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="about">About</a></li>
            <li><a routerLink="catalog">Sales</a></li>
            <!-- <li><a routerLink="">Add Properties</a></li> -->
        </ul>
        <!-- login button -->
        <div class="user-navbar">
            <p *ngIf="isLoggedIn">Wellcome <br>{{email}}</p>
            <a routerLink="/login" class="btn" *ngIf="!isLoggedIn">Log In</a>
            <a (click)="logou()" class="btn" *ngIf="isLoggedIn">Log Out</a>
        </div>

    </div>
</header>