<header>
    <div class="nav container">
        <!-- logo -->
        <a href="index.html" class="logo"><i class="fa-solid fa-house">asd</i>MONOPOL</a>
        <!-- menu icon -->
        <!-- nav list -->
        <div class="bars">
            <input type="checkbox" name="" id="menu">
            <label for="menu "><i class="fa-solid fa-bars" id="menu-icon"></i></label>
        </div>
        <ul class="navbar">
            <li><a href="index.html">Home</a></li>
            <li><a href="singleProperty.html">About</a></li>
            <li><a href="">Sales</a></li>
            <li><a href="catalog.html">Properties</a></li>
        </ul>
        <!-- login button -->
        <a href="login.html" class="btn">Log In</a>
    </div>
</header>