<section class="single-house container" id="single-house">
    <div class="single-house-container">
        <div class="single-house-img">
            <img src={{property.picture}} alt="">
        </div>
        <div class="single-house-text">
            <div>
                <h2>{{property.place}}</h2>
                <p>Street: <span> {{property.street}}</span></p>
                <p>Construction Area m²: <span>{{property.m2}}</span></p>
                <p>Construction year: <span>{{property.year}}</span></p>
                <p>Bedrom: <span>{{property.bedrom}}</span></p>
                <p>WCs: <span>{{property.wc}}</span></p>
                <br>
                <hr>
                <p>Price: <span>${{property.price}}</span></p>
                <hr>
            </div>
            <div>
                <h4>Description</h4>
                <p>{{property.description}}</p>
            </div>
            <div>
                <a href="" class="btn">Buy This House</a>
            </div>
            <!-- <div>
                <a href="" class="btn-red">Delete</a>
                <a href="" class="btn-green">Edit</a>
            </div> -->
        </div>
    </div>

</section>