.single-house {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, auto));
    margin-top: 2em;
    min-height: 73vh;
}

.single-house-container {
    display: flex;
    align-items: center;
    gap: 2em;
}

.single-house-img img {
    width: 600px;
    border-radius: 3rem 0 3rem 3rem;
}

.single-house-text {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.single-house-text h2 {
    margin-bottom: 0.3em;
    font-size: 2rem;
}

.single-house-text span {
    font-weight: 800;
}


.notification {
    position: fixed;
    z-index: 10;
    /* right: 5%; */
    top: 10%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: grey;
    font-style: italic;
    text-decoration: underline;
    box-shadow: 0 5px 10px rgb(204, 204, 204);
    background-color: rgba(238, 74, 74, 0.699);
}


.success-message {
    background-color: rgba(99, 230, 81, 0.699);
    text-align: center;
    margin-bottom: 0.7em;
}

.adminBtns {
    display: flex;
    gap: 0.3em;
}