<section class="about container" id="about">
    <div class="about-img">
        <img src="../../assets/about-home1.jpg" alt="">
        <img src="../../assets/about-home2.jpg" alt="">
    </div>
    <div class=" about-text">
        <span>About Us</span>
        <h2>We Provide The Best <br> Property For You !</h2>
        <p>Today MONOPOL is among the most respected property agencies in Bulgaria.</p>
        <p>We provide high-level service to our clients, inspired by the best practices of the finest world companies in
            the premium real estate sphere.</p>
        <p>We will help you find the luxury, quality and prestige you’re looking for!</p>
        <a routerLink="/catalog" class="btn">Check out</a>
    </div>
</section>