<section class="about container" id="about">
    <div class="about-img">
        <img src="../../assets//big-house-with-luscious-garden-ut1p7rgvzij6ptmu.jpg" alt="">
        <img src="../../assets/desktop-wallpaper-4-home-exterior.jpg" alt="">
    </div>
    <div class=" about-text">
        <span>About Us</span>
        <h2>We Provide The Best <br> Property For You !</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, iure?Labore, iure?Labore, iure?</p>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
        <a href="" class="btn">Learn More</a>
    </div>
</section>