<section class="login container">
    <div class="login-container">
        <h2>Login to Continue</h2>
        <p>Welcome back!</p>
        <!-- login form -->
        <form>
            <span>Enter your email adress</span>
            <input type="email" name="" id="" placeholder="Your@gmail.com" #inputEmail required>
            <span>Enter your password</span>
            <input type="password" name="" id="" placeholder="Password" #inputPassword required>
            <input type="submit" value="Login" class="button"
                (click)="login($event,inputEmail.value,inputPassword.value)">
            <a href="">Forget Password?</a>
        </form>
        <a routerLink="/register" class="btn">Sign up now</a>
    </div>
    <div class="login-img">
        <img src="../../../assets/welcome.jpg" alt="">
    </div>
</section>