<section class="login container">
    <div class="login-container">
        <h2>Login to Continue</h2>
        <p>Welcome back!</p>
        <!-- login form -->
        <form #form="ngForm" (ngSubmit)="login(form)">
            <span>Enter your email adress</span>
            <input type="email" name="email" id="email" placeholder="Your@gmail.com" #inputEmail="ngModel" ngModel
                required [appEmail]="domains">



            <span>Enter your password</span>
            <input type="password" name="password" id="password" placeholder="Password" #inputPassword="ngModel" ngModel
                required>

            <!-- error-msg -->
            <ng-container *ngIf='inputEmail.touched'>
                <p class="err-msg" *ngIf="inputEmail.errors?.['required']">Email is required!</p>
                <p class="err-msg" *ngIf="inputEmail.errors?.['emailValidator']">Invalid Email (gmail/abv)</p>
            </ng-container>

            <ng-container *ngIf='inputPassword.touched'>
                <p class="err-msg" *ngIf="inputPassword.errors?.['required']">Password is required!</p>
            </ng-container>

            <p class="err-msg" *ngIf="allFieldsError">All fields are required!</p>


            <input type="submit" value="Login" class="button">
            <a href="">Forget Password?</a>
        </form>
        <a routerLink="/register" class="btn">Sign up now</a>
    </div>
    <div class="login-img">
        <img src="../../../assets/welcome.jpg" alt="">
    </div>
</section>